# Node.js
/node_modules
npm-debug.log
yarn-error.log

# Environment variables
.env

# macOS
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
/.pnp
.pnp.js

# Editor/IDE specific
.vscode/
.idea/

# Testing
coverage/
